.mainwrapper {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin-top: 100px;
}

.box {
  margin: auto;
  height: 200px;
  width: 200px;
}

.start {
  background-color: rgba(255, 255, 255, 0.5);
  height: 40px;
  width: 40px;
  border-radius: 50%;
  color: black;
  margin: 10px 10px;
  border: none;
}

.start:hover {
  transition: all 0.6 ease-in-out;
  scale: 1.1;
  color: #ffa72d;
}

.stop {
  background-color: rgba(255, 255, 255, 0.5);
  height: 40px;
  width: 40px;
  border-radius: 50%;
  color: black;
  margin: 10px 10px;
  border: none;
}

.stop:hover {
  transition: all 0.6 ease-in-out;
  scale: 1.2;
  color: #ffa72d;
}

.timer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
}

.time {
  display: flex;
  align-items: center;
  justify-content: center;
}
